$container-background-color: hsl(185, 75%, 39%);
$profile-nameAge-color:hsl(229, 23%, 23%);
$profile-city-color:hsl(227, 10%, 46%);
$profile-line-color: hsl(0, 0%, 95%);
$profileStats-numbers-color: hsl(229, 23%, 23%);
$profileStats-names-color: hsl(227, 10%, 46%);